{% extends 'admin.html' %}
{% load static %}
{% block contents %}

<div id="page-wrapper">
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h2>Impression des Dépenses</h2>
      </div>
    </div>

    <br>
    <!-- Messages Django -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert 
                {% if message.tags == 'success' %} alert-success 
                {% elif message.tags == 'error' %} alert-danger 
                {% else %} alert-info 
                {% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <!-- Formulaire de filtrage -->
    <form method="POST" action="{% url 'liste_depenses_impression' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-9">
                    <div class="form-group">
                        <label for="date_debut">Date Début :</label>
                        <input type="date" class="form-control" required id="date_debut" name="date_debut">
                    </div>

                    <div class="form-group">
                        <label for="date_fin">Date Fin :</label>
                        <input type="date" class="form-control" required id="date_fin" name="date_fin">
                    </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
            <button type="submit" class="btn btn-primary mt-2"> <i class="fa fa-eye"></i> Afficher les Dépnses</button>

            </div>

        <div class="col-md-6">
            <a href="{% url 'liste_depense' %}" class="btn btn-primary mt-2"> <i class="fa fa-arrow-left"></i> Retour à la liste</a>

            </div>

        </div>
    </form>
  </div>
</div>

<!-- Script pour faire disparaître les messages après 4 secondes -->
<script>
    setTimeout(() => {
        document.querySelectorAll('.alert').forEach(el => {
            el.style.transition = "opacity 0.5s";
            el.style.opacity = "0";
            setTimeout(() => el.remove(), 500);
        });
    }, 4000);
</script>

{% endblock %}
