{% extends 'admin.html' %}
{% load static %}
{% block contents %}

<div id="page-wrapper">
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h2>Choix pour l'impression des Stocks</h2>
      </div>
    </div>

    <br>

    <!-- Messages Django -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert 
                {% if message.tags == 'success' %} alert-success 
                {% elif message.tags == 'error' %} alert-danger 
                {% else %} alert-info 
                {% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <!-- Formulaire de filtrage -->
    <form method="POST" action="{% url 'produits:listes_stocks_impression' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="annee_scolaire">Date de Début :</label>
            <input type="date" required class="form-control" name="date_debut">
        </div>

        <div class="form-group">
            <label for="annee_scolaire">Date de Fin :</label>
            <input type="date" required class="form-control" name="date_fin">
        </div>

        <button type="submit" class="btn btn-primary mt-2"> <i class="fa fa-eye"></i> Afficher les résultats</button>
    </form>
  </div>
</div>

<!-- Script pour faire disparaître les messages après 4 secondes -->
<script>
    setTimeout(() => {
        document.querySelectorAll('.alert').forEach(el => {
            el.style.transition = "opacity 0.5s";
            el.style.opacity = "0";
            setTimeout(() => el.remove(), 500);
        });
    }, 4000);
</script>

{% endblock %}
