{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ rapport.titre }}</title>

    <style>
        @page { size: A4; margin: 40px 30px 60px 30px; }
        body { font-family: DejaVu Sans, sans-serif; margin:0; font-size:12px; color:#333; }

        h1,h2,h3 { text-align:center; margin-bottom:10px; }

        table {
            width:100%;
            border-collapse:collapse;
            margin-top:15px;
        }

        th,td {
            border:1px solid #444;
            padding:6px;
            text-align:center;
        }

        th { background-color:#f2f2f2; }

        .empty {
            text-align:center;
            color:#999;
            font-style:italic;
            padding:15px;
        }

        .resume {
            margin-top:20px;
            border-top:2px solid #000;
            padding-top:10px;
            width:60%;
            margin:auto;
        }

        .resume td {
            text-align:left;
            padding:4px;
        }

        .resume strong { color:#0b6df0; }

        .footer {
            position: fixed;
            bottom:10px;
            text-align:center;
            font-size:10px;
            color:#555;
            width:100%;
        }
    </style>
</head>
<body>

<!-- ================= ENTÊTE ENTREPRISE ================= -->
<div style="display:flex; justify-content:space-between; align-items:flex-start; border-bottom:2px solid #000; padding-bottom:10px; margin-bottom:20px;">

    <div style="font-size:12px; line-height:1.5;">
        <strong>Entreprise :</strong> {{ entreprise.nom_entrepriese|upper }} <br>
        <strong>Adresse :</strong> {{ entreprise.adresse|default:"-" }} <br>
        <strong>Contact 1 :</strong> {{ entreprise.contact1|default:"-" }} <br>
        <strong>Contact 2 :</strong> {{ entreprise.contact2|default:"-" }} <br>
        <strong>Email :</strong> {{ entreprise.email|default:"Aucun" }}
    </div>

    <div style="text-align:center; flex:1;">
        {% if entreprise.logo %}
            <img src="{{ entreprise.logo.url }}" style="width:80px;height:80px;object-fit:contain;"><br>
        {% else %}
        <p><small>Logo Indisponible</small></p>
        {% endif %}
        <h2 style="margin:5px 0; font-size:16px; color:#003366;">
            {{ entreprise.nom_entrepriese }}
        </h2>
    </div>
</div>

<!-- ================= INFOS RAPPORT ================= -->
<div class="header">
    <h1>{{ rapport.titre }}</h1>
    <p><strong>Type :</strong> {{ rapport.type }}</p>

    {% if rapport.periode_debut %}
        <p><strong>Période :</strong> {{ rapport.periode_debut }} → {{ rapport.periode_fin }}</p>
    {% endif %}

    <p><strong>Généré par :</strong> {{ rapport.genere_par.username }}</p>
    <p><strong>Date :</strong> {{ rapport.date_generation|date:"d/m/Y H:i" }}</p>
</div>

<!-- ================= CONTENU DYNAMIQUE ================= -->

{% if rapport.type == "VENTES" %}
<h3>LISTES DES PRODUITS VENDUS</h3>

<table>
    <tr>
        <th>#</th>
        <th>Code Vente</th>
        <th>Produit</th>
        <th>Quantité Vendue</th>
        <th>Date Vente</th>
        <th>Sous-total(GNF)</th>
         {% if request.user.type_utilisateur|lower != 'gerante' %}
        <th>Bénéfice(GNF)</th>
        {% endif %}
    </tr>

    {% for vente_data in data %}
        {% for ligne in vente_data.lignes %}
        <tr>
            <td>{{ forloop.parentloop.counter }}-{{ forloop.counter }}</td>
            <td>{{ vente_data.vente.code }}</td>
            <td>{{ ligne.produit.desgprod }}</td>
            <td>{{ ligne.quantite }}</td>
            <td>{{ vente_data.vente.date_vente|date:"d/m/Y H:i" }}</td>
            <td>{{ ligne.sous_total|floatformat:0 }}</td>

             {% if request.user.type_utilisateur|lower != 'gerante' %}
            <td>{{ ligne.benefice|floatformat:0 }}</td>
            {% endif %}

        </tr>
        {% endfor %}
        <!-- Totaux par vente -->
        <tr class="resume">
            <td colspan="5" style="text-align:right;"><strong>Total Vente {{ vente_data.vente.code }} :</strong></td>
            <td><strong>{{ vente_data.total_vente|floatformat:0 }} GNF</strong></td>

             {% if request.user.type_utilisateur|lower != 'gerante' %}
            <td><strong>{{ vente_data.benefice_vente|floatformat:0 }} GNF</strong></td>
            {% endif %}
            
        </tr>
    {% empty %}
    <tr>
        <td colspan="8" class="empty">Aucune vente trouvée sur les dates</td>
    </tr>
    {% endfor %}
</table>

<h4 class="text-center mt-4">TOTAL DES VENTES PAR PRODUIT</h4>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Produit</th>
            <th>Quantité Vendue</th>
            <th>Montant Total (GNF)</th>
        </tr>
    </thead>
    <tbody>
        {% for prod in total_par_produit %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ prod.produit__desgprod }}</td>
            <td class="text-center">{{ prod.total_quantite }}</td>
            <td class="text-end"><strong>{{ prod.total_montant|floatformat:"0" }}</strong></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center text-muted">Aucune vente par produit</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot class="table-secondary">
        <tr>
            <th colspan="2" class="text-center">Totaux :</th>
            <th class="text-center">{{ total_vendus }}</th>
            <th class="text-end">{{ total_montant|floatformat:"0" }}</th>
        </tr>
    </tfoot>
</table>


<h4 class="text-center mt-4">TOTAL DES VENTES PAR CATÉGORIE</h4>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Catégorie</th>
            <th>Quantité Vendue</th>
            <th>Montant Total (GNF)</th>
        </tr>
    </thead>
    <tbody>
        {% for cat in total_par_categorie %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ cat.produit__categorie__desgcategorie }}</td>
            <td>{{ cat.total_quantite }}</td>
            <td><strong>{{ cat.total_montant|floatformat:"0" }}</strong></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center text-muted">Aucune vente par catégorie</td>
        </tr>
        {% endfor %}
    </tbody>
        <tfoot class="table-secondary">
            <tr>
            <th colspan="2" class="text-center">Totaux :</th>
            <th class="text-center">{{ total_vendus }}</th>
            <th class="text-center">{{ total_montant }}</th>
            </tr>
        </tfoot>
</table>

{% if total_montant %}
<div class="resume">
    <table>
        <tr>
            <td><strong>Total des ventes :</strong></td>
            <td><strong>{{ total_montant|floatformat:0 }} GNF</strong></td>
        </tr>
            {% if request.user.type_utilisateur|lower != 'gerante' %}
        <tr>
            <td><strong>Total Global Bénéfice : </strong></td>
            <td><strong>{{ benefice_global|floatformat:0 }} GNF</strong></td>
        </tr>
        {% endif %}
    </table>
</div>
{% endif %}

<!-- ================= COMMANDES ================= -->
{% elif rapport.type == "COMMANDES" %}
<h3>LISTE DES COMMANDES</h3>
<table>
    <tr>
        <th>#</th>
        <th>Fournisseur</th>
        <th>Contact</th>
        <th>Code commande</th>
        <th>Catégorie</th>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Date</th>
    </tr>
    {% for item in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.nom_complet_fournisseur }}</td>
        <td>{{ item.telephone_fournisseur }}</td>
        <td>{{ item.numcmd }}</td>
        <td>{{ item.produits.categorie.desgcategorie }}</td>
        <td>{{ item.produits.desgprod }}</td>
        <td>{{ item.qtecmd }}</td>
        <td>{{ item.datecmd|date:"d/m/Y" }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="8" class="empty">Aucune commande trouvée.</td></tr>
    {% endfor %}
</table>

<h4 class="mt-4">Commandes par catégorie</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Catégorie</th>
            <th>Nombre de commandes</th>
            <th>Total quantité</th>
            <th>Valeur totale</th>
        </tr>
    </thead>
    <tbody>
        {% for cat in total_par_categorie %}
        <tr>
            <td>{{ cat.produits__categorie__desgcategorie }}</td>
            <td>{{ cat.nombre_commandes|default:0 }}</td>
            <td>{{ cat.total_quantite|default:0 }}</td>
            <td>{{ cat.valeur_commandes|default:0|floatformat:0 }} GNF</td>
        </tr>
        {% empty %}
        <tr><td colspan="4" class="text-center">Aucune donnée</td></tr>
        {% endfor %}
    </tbody>
</table>

<!-- ================= STOCKS ================= -->
{% elif rapport.type == "STOCKS" %}
<h3>ÉTAT DES STOCKS PAR LIEU</h3>

<table>
    <tr>
        <th>#</th>
        <th>Référence</th>
        <th>Produit</th>
        <th>Lieu</th>
        <th>Type</th>
        <th>Quantité Disponible</th>
        <th>Seuil</th>
        <th>Date MAJ</th>
    </tr>

    {% for item in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.produit.refprod }}</td>
        <td>{{ item.produit.desgprod }}</td>
        <td>{% if item.entrepot %}{{ item.entrepot }}{% else %}{{ item.magasin }}{% endif %}</td>
        <td>{% if item.entrepot %}Entrepôt{% else %}Magasin{% endif %}</td>
        <td>{{ item.qtestock }}</td>
        <td>{{ item.seuil }}</td>
        <td>{{ item.date_maj|date:"d/m/Y H:i" }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="8" class="empty">Aucun stock trouvé pour cette période.</td>
    </tr>
    {% endfor %}
</table>

<!-- ================= LIVRAISONS ================= -->
{% elif rapport.type == "LIVRAISONS" %}
<h3>LISTE DES LIVRAISONS (STOCK ENTREPÔT)</h3>

<table>
    <tr>
        <th>#</th>
        <th>Numéro Livraison</th>
        <th>Produit</th>
        <th>Quantité Livrée</th>
        <th>Stock Entrepôt Actuel</th>
        <th>Date Livraison</th>
        <th>Statut</th>
    </tr>

    {% for ligne in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ ligne.numlivrer }}</td>
        <td>{{ ligne.produits.desgprod }}</td>
        <td>{{ ligne.qtelivrer }}</td>
        <td>{{ ligne.stock_entrepot|default:"0" }}</td>
        <td>{{ ligne.datelivrer|date:"d/m/Y" }}</td>
        <td>{{ ligne.statuts }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="7" class="empty">Aucune livraison trouvée.</td>
    </tr>
    {% endfor %}
</table>

{% endif %}

</body>
</html>
